table,
tr,
th,
td {
    border: 1px solid var(--borderColor);
    border-collapse: collapse;
}

table {
    tr {

        &.clickable:hover {
            color: var(--danger);
        }

        th.header {
            font-size: 1.25rem;
            color: var(--header);
        }

        th,
        td {
            padding: 5px 10px;

            &.center {
                text-align: center;
            }
        }
    }
}
